@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Prevent scroll on body, handle in app */
  }

  body {
    @apply bg-zinc-950 text-zinc-50 antialiased;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full hover:bg-zinc-600;
  }
}

@layer components {
  .neon-border {
    @apply border border-neon-400/50 shadow-[0_0_10px_rgba(251, 255, 0, 0.1)];
  }

  .neon-text {
    @apply text-neon-400 drop-shadow-[0_0_5px_rgba(251, 255, 0, 0.5)];
  }
}